.parent {
  display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
  height: 100vh;
  width: 100vw;  
}


.parent.div1 { grid-area: 1 / 1 / 6 / 2; }
.parent.div2 { grid-area: 1 / 10 / 6 / 13; }
.parent.div3 { grid-area: 1 / 2 / 6 / 10; }

body {
    margin: 0px;
    padding: 0px;
  }


#board{
    border: 1px solid black;
    height: 97vh;
    width: 70vw
}

#panel1{
  width: 10vw;
}

#panel2{
  width: 20vw;
}