<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CACE Asorías</title>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/materialize.css">
    <script src="js/vue.js"></script>
</head>

<body>
    <div class="parent container-fluid" id="app">
        



        <div id="board" class="div2">
            <canvas id="myCanvas"></canvas>
        </div>
        <div class="div3" style="border: 1px solid black" id="panel2">

            <div class="row">

                <form @submit.prevent="newMsg()">

                    <div class="col m12">
                        <input class="col m12" type="text" style="width:100%" placeholder="Escribe aquí un mensaje"
                            v-model="mensaje">
                    </div>
                    <div class="col m12 center-align">
                        <button style="margin: 0 auto;" class="btn orange" type="submit"> Enviar</button>
                    </div>


                </form>


                <div class="container" style="padding-top: 30%">
                    <ul>
                        <li v-for="m in mensajes">
                            <small>{{m.usuario}}</small> <br>
                            {{m.mensaje}}
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/mainAlumno.js"></script>
</body>

</html>