<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CACE Asesorías</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/materialize.css">
    <script src="/js/vue.js"></script>

</head>

<body>
    <div class="parent" id="app">
        <div id="panel1" class="div1">

            <div class="card">
                <div class="card-content center-align">
                    <button class="btn-floating  waves-effect waves-light red" @click="setColor(`#f44336`)"></button>
                    <button class="btn-floating  waves-effect waves-light green" @click="setColor(`#4caf50`)"></button>
                    <button class="btn-floating  waves-effect waves-light blue" @click="setColor(`#2196f3`)"></button>
                    <button class="btn-floating  waves-effect waves-light white" @click="setColor(`#ffffff`)"></button>
                    <br><br>
                    <input type="color" name="" id="" class=""  v-model="colorPen" @change="changeColor()" >
                    <br> <br>
                    <div style="padding-left:30%">
                            <div :style="`height: 40px; width:40px; background-color: ${colorPen}`"></div>
                    </div>

                </div>

            </div>


            <div class="card">
                <div class="card-content center-align">
                    <input type="range" name="" id="" v-model="lineWidth" min="1" max="50" @change="setSize()" >
                    {{lineWidth}}
                </div>

            </div>

        </div>
        <div id="board" class="div2">
            <canvas id="myCanvas"></canvas>
        </div>

        <div class="div3" id="panel2">
            <div class="row">

                <form @submit.prevent="newMsg()">

                    <div class="col m12">
                        <input class="col m12" type="text" style="width:100%" placeholder="Escribe aquí un mensaje"
                            v-model="mensaje">
                    </div>
                    <div class="col m12 center-align">
                        <button style="margin: 0 auto;" class="btn orange" type="submit"> Enviar</button>
                    </div>


                </form>

                <div class="container " style="padding-top: 30%">
                    <ul>
                        <li v-for="m in mensajes">
                            <small>{{m.usuario}}</small> <br>
                            {{m.mensaje}}
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/mainProfesor.js"></script>
</body>

</html>