<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>CACE Asesoías : Inicio</title>
  <link rel="stylesheet" href="css/materialize.css" />
  <script src="js/vue.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src="js/axios.js"></script>
</head>

<body class="grey lighten-3">

  <div class="container-fluid" style="width: 60%" id="app">
    <nav style="width: 100vw" class="red darken-3">
      <div class="nav-wrapper">
        <a style="margin-left: 10%" href="#" class="brand-logo"><b>CACE </b></a>
        <ul style="margin-right: 3%" id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <div>
              <i class="fa fa-user-circle fa-2x"></i>
              <span>Mi cuenta</span>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container " style="padding-top: 5%;">
      <div class="row">
        <div class="col m12" style="font-size: 1.8rem">
          <b>Hola de nuevo, {{usuario.nombre}}</b>
        </div>
        <div class="col m12" style="font-size: 1.4rem; padding-top:3%">
          ¿Preparado para aprender?
        </div>
      </div>
      <div class="row" style="width: 90vw ">
        <div class="col s12 m12 white ">
          <ul class="collection">
            <li class="collection-header">
              <h4>Clases disponibles</h4>
            </li>
            <li class="collection-item avatar">
              <img src="https://toppng.com/public/uploads/preview/calculus-11550710164ted45e4gq1.png" alt="" class="circle">
              <span class="title">Cálculo</span>
              <p>Docente: Jovanny Rch <br>
              <a href="/clase" class="secondary-content"> Entrar </a>
              
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <script src="js/materialize.min.js"></script>

  <script>



    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll(".carousel");
      var instances = M.Carousel.init(elems, {});
    });

    var instance = M.Carousel.init({
      fullWidth: true,
      indicators: true
    });

    var app = new Vue({
      el: "#app",
      data: {
        email: "",
        pass: "",
        urlApi: "http://localhost:3000/api/",
        usuario: {
          nombre: ''
        },
        datosCace: {
          usuario: {}
        },
        materias: [
          { id: "", nombre: "Álgebra", active: false },
          { id: "", nombre: "Cálculo", active: true },
          { id: "", nombre: "Geometría", active: false },
          { id: "", nombre: "Trigonometria", active: false }
        ]
      },

      created: function () {
        this.datosCace = JSON.parse(localStorage.getItem('dataCACE'));
        this.usuario = this.datosCace.usuario;
      },
      methods: {

      }
    });
  </script>
</body>

</html>