<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Inicio</title>
    <link rel="stylesheet" href="css/materialize.css" />
    <script src="js/vue.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="js/axios.js"></script>
  </head>

  <body class="grey lighten-3">
    <div class="container-fluid" style="" id="app">
      <nav style="width: 100vw" class="red darken-3">
        <div class="nav-wrapper">
          <a style="margin-left: 10%" href="#" class="brand-logo"
            ><b>CACE</b></a
          >
          <ul
            style="margin-right: 3%"
            id="nav-mobile"
            class="right hide-on-med-and-down"
          >
            <li>
              <div>
                <i class="fa fa-user-circle fa-2x"></i>
                <span>Mi cuenta</span>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid" style="padding-top: 5%;">
        <div class="row">
          <div class="col m12" style="font-size: 1.8rem; margin-left: 25%">
            <b>Hola de nuevo, {{usuario.nombre}}</b>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m3 center-align" >
            <h5 class="card-title">Mis materias</h5> <br>
            <ul class="collection">
              <li :class="m.active?'collection-item active red darken-3':'collection-item '" v-for="m in materias">{{m.nombre}}</li>
            </ul>
          </div>

          <div class="col s12 m9 white ">
                <h4>Cálculo</h4>
                <div class="col s12 m12 right-align">
                    <a href="/clase/docente" class="green btn">Empezar clase</a> 
                </div>
                <div class="col s12 m12">
                    <h5>Alumnos ({{alumnos.length}})</h5>
                </div>
                <ul class="collection">
                    <li v-for="a in alumnos" class="collection-item">
                        {{a.nombre}}
                        <button v-if="a.listo" class="btn green secondary-content"><i class="fa fa-check"></i></button>
                        <button v-if="!a.listo" class="btn red secondary-content"><i class="fa fa-times"></i></button>

                    </li>
                </ul>  
          </div>

        </div>
      </div>
    </div>
    <script src="js/materialize.min.js"></script>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          materias: [
            { id: "", nombre: "Álgebra", active: false },
            { id: "", nombre: "Cálculo",active: true},
            { id: "", nombre: "Geometría",active: false},
            { id: "", nombre: "Trigonometria",active: false }
          ],
          email: "",
          pass: "",
          urlApi: "http://localhost:3000/api/",
          alumnos: [
              {id: '', nombre:'Eduardo Trujillo Navarrete', listo: true},
              {id: '', nombre:'Lezama González', listo: false},
              {id: '', nombre:'Manuel Medrano', listo: true},
              {id: '', nombre:'Irving Ramírez García', listo: true},
          ],
          usuario: {
            nombre: ''
          },
          datosCace: {
            usuario: {}
          }
        },

        created: function(){
            this.datosCace = JSON.parse(localStorage.getItem('dataCACE'));
            this.usuario = this.datosCace.usuario;

        },
        methods: {
          login() {
            axios
              .post(this.urlApi + "login", {
                email: this.email,
                pass: this.pass
              })
              .then(response => {
                if (response.data.ok) {
                  document.URL("alumno.html");
                } else {
                  alert(response.data.mensaje);
                }
              })
              .catch(err => {
                console.log(err);
              });
          }
        }
      });
    </script>
  </body>
</html>
