<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Registrarse</title>
  <link rel="stylesheet" href="css/materialize.css" />
  <script src="js/vue.js"></script>
  <script src="js/axios.js"></script>
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
-->
</head>

<body class="grey lighten-3">
  <nav class="red darken-4 z-depth-2">
    <div class="nav-wrapper">
      <a href="javascript();" style="margin-left:3%" class="brand-logo">CACE</a>

      </ul>
    </div>
  </nav>

  <div class="container " style="padding-top: 2%;" id="app">

    <div class="row">
      <div class="col m2 s12"></div>
      <div class="col m8 s12">


        <div style="border-color: rgb(31, 26, 26)" class="card ">
          <div class="card-content center-align">
            <div class="row">


              <div v-if="hideEmail" class="col m12" style="padding-bottom: 4%; padding-top: 5%">

                <button class="btn grey lighten-3 black-text"> <img style="margin-top: 1%" width="23px"
                    src="https://cdn.pixabay.com/photo/2015/12/11/11/43/google-1088004_960_720.png" alt="" srcset="">
                  Registrarse con Google</button>
                <br>
                <br>
                <button @click="hideEmail = false" class="btn grey lighten-3 black-text"> <i
                    class="fa fa-envelope-o left"></i> Registrarse con email</button>

              </div>


              <div class="col m12">




                <div class="row">
                  <form @submit.prevent="registrarUsuario()" v-if="!hideEmail">

                    <div class="input-field col m12">
                      <input placeholder="" v-model="usuario.nombre" id="nombre" type="text" class="validate" />
                      <label for="email">Tu nombre completo</label>
                    </div>
                    <div class="input-field col m12">
                      <input placeholder="" v-model="usuario.email" id="email" type="email" class="validate" />
                      <label for="pass">Tu correo</label>
                    </div>

                    <div class="input-field col m12">
                      <input placeholder="" v-model="usuario.pass" id="pass1" type="password" class="validate" />
                      <label for="pass">Tu contraseña</label>
                    </div>

                    <div class="input-field col m12">
                      <input placeholder="" v-model="pass2" id="pass2" type="password" class="validate" />
                      <label for="pass">Confirma contraseña</label>
                    </div>



                    <div class="col m12 center-align">
                      <button type="submit" class="btn black">Crear mi cuenta</button>
                    </div>

                  </form>
                  <br><br>
                  <div class="col m12 center-align">
                    <a href="sas.html">¿Olvidaste tu contraseña?</a>
                  </div>


                  <div class="col m12 " style="padding-top: 12%">
                    <b>¿Ya tienes cuenta?</b> <br> <br>
                    <a class="btn grey lighten-2 black-text" href="/login">Inicia tu sesión</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col m2 s12"></div>
    </div>

  </div>
  <script src="js/materialize.min.js"></script>
  <script>
    var app = new Vue({
      el: "#app",
      data: {
        usuario: {
          nombre: "",
          pass: "",
          email: ""
        },
        pass2: '',
        urlApi: "http://localhost:3000/api/",
        hideEmail: true
      },
      methods: {



        registrarUsuario() {

          if (!this.usuario.pass) {
            alert("Ingrese contraseña");
            return;
          }

          if (!this.pass2) {
            alert("Confirme contraseña");
            return;
          }

          if (this.usuario.pass !== this.pass2) {
            alert("Error en las contraseñas")
            return;
          }
          axios
            .post(this.urlApi + "signup", this.usuario)
            .then(response => {
              if(response.data.ok){
                localStorage.setItem('dataCACE', JSON.stringify(response.data))
                window.location.href = '/alumno';
              }else{
                alert("Ocurrió un error")
              }
            })
            .catch(e => {
              alert("Ocurrió un error al hacer el registro")
            });
        }
      }
    });
  </script>
</body>

</html>